@charset "utf-8";
/* CSS Document */
.content1{
	font-size:12px;
	color:#656565;
	line-height:32px;
	text-indent:2em;}
.content1 .img{
	width:290px;
	height:220px;
	border:1px solid #0D9590;
	text-align:center;
	margin-left:10px;
	}
.content1 img{
	vertical-align:middle;}
.content1 span{
	height:220px;
	display:inline-block;
	vertical-align:middle;}
.footer{
	margin-top:178px;}