@charset "utf-8";
/* CSS Document */
.cont2kuai{
	width:350px;
	height:128px;
	border:1px solid #EDEDED;
	background:#F8F8F8;
	border-radius:5px;
	padding-left:13px;
	padding-top:6px;
	box-sizing:border-box;
	padding-right:5px;}
.cont2kuai h3{
	margin-bottom:5px;}
.cont2kuai h3 a{
	font-size:14px;
	color:#333;
	}
.cont2kuai:nth-child(2){
	margin:0 33px;}
.conten2{
	margin-top:17px;}
.cont2kuai img{
	width:96px;
	height:78px;}
.cont2kuai img:nth-child(2){
	margin:0 12px;}
.cont2kuai .yuan{
	text-align:center;
	height:7px;
	position:relative;
	top:-7px;}
.cont2kuai .yuan span{
	display:inline-block;
	width:7px;
	height:7px;
	background:#E5E5E5;
	border-radius:50%;
	margin-right:7px;
	}

.cont2kuai .yuan .active{
	background:#BFBFBF;}
.cont2kuai .tupian{
	display:none;}
.cont2kuai .show{
	display:block;}
.cont2kuai p{
	font-size:12px;
	color:#656565;
	text-indent:2em;
	line-height:20px;
	}
.cont2kuai a{
	color:#656565;}
.cont2kuai:nth-child(2) p{
	background:url(../images/cont2tu4.png) right center no-repeat;
	padding-right:117px;}
.cont2kuai p span{
	display:block;}
.cont2kuai:nth-child(3) p{
	background:url(../images/cont2tu5.png) right center no-repeat;
	padding-right:117px;}
.conten3{
	margin-top:12px;
	margin-bottom:10px;}
.cont3kuai1{
	width:200px;
	height:240px;
	border:1px solid #EEEEEE;
	box-sizing:border-box;}
.cont3kuai1 h4{
	height:40px;
	font-size:14px;
	color:#fff;
	background:#0D9590;
	padding-left:15px;
	line-height:40px;}
.cont3kuai1 ul{
	padding:0 5px 0 9px;
	margin-top:12px;}
.cont3kuai1 li{
	line-height:26px;
	font-size:12px;
	border-bottom:1px dotted #000;
	height:26px;
	padding-left:14px;
	margin-top:4px;}
.cont3kuai1 li:last-child{
	border:none;}
.cont3kuai1 li a{
	color:#656565;}
.cont3kuai1 li a:nth-child(2){
	margin-left:26px;}
.cont3kuai2{
	width:280px;
	height:200px;
	box-sizing:border-box;
	margin:0 15px;
	margin-top:15px;
	position:relative;}
.cont3kuai2 .img{
	width:100%;
	height:100%;
	display:none;}
.cont3kuai2 .show2{
	display:block;}
.cont3kuai2 img{
	width:100%;
	height:100%;}
.cont3kuai2 p{
	width:100%;
	height:35px;
	box-sizing:border-box;
	line-height:35px;
	background:rgba(6,6,6,.8);
	padding-left:10px;
	position:absolute;
	left:0; bottom:0;}
.cont3kuai2 p .text2{
	font-size:14px;
	color:#fff;
	display:none;
	}
.cont3kuai2 p .show3{
	display:inline-block;}
.cont3kuai2 p em{
	font-style:normal;
	margin-right:9px;}
.cont3kuai2 p a{
	display:inline-block;
	width:15px;
	height:15px;
	background:#858586;
	color:#000;
	line-height:15px;
	text-align:center;
	margin-left:4px;
	font-size:10px;}
.cont3kuai2 p .active2{
	background:#fff;}
.cont3kuai3{
	width:600px;
	height:200px;
	box-sizing:border-box;
	margin-top:15px;}
.cont3kuai3 li{
	height:30px;
	line-height:30px;
	border-bottom:1px dashed #999999;
	padding:0 17px 0 30px;
	box-sizing:border-box;
	font-size:12px;
	color:#999999;}
.cont3kuai3 li a{
	color:#656565;}
.cont3kuai3 li:last-child{
	border:0;
	padding-top:9px;}
.cont3kuai3 li:last-child a{
	color:#999;}














